.main-container {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100vw;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #1e293b;
}

.course-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
